/* import { NR_COLUMNS } from "../consts"; */
:root {
    --nr-columns: 5;
    --nr-rows: 5;
}
/* // export const styles = {
//     container: {
//         display: "grid",
//         gridGap: "5px",
//         gridTemplateColumns: `repeat(${NR_COLUMNS}, 50px)`,
//         // direction: 'rtl',
//         justifyContent: "center",
//         // backgroundColor: "red",
//     },

//     wrapper: {
//         paddingTop: "100px",
//         display: "flex",
//         // flexDirection: "column",
//         alignItems: "center",
//         gap: "30px",
//     },

//     gridItem: {
//         backgroundColor: 'lightsalmon',
//         border: '2px solid black',
//         width: '50px',
//         height: '50px',
//         //textAlign: 'center',
//     }
// }; */

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 100px);
    direction: rtl;
    /* justify-content: center; */
}
.gridItem {
    background-color: lightsalmon;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.robot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
